<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APCaS</title>
    <style>
        body {
            background: url('static/bg image.png') no-repeat center center fixed;
            background-size: cover;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            overflow-y: scroll;
        }

        #video-container {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            overflow: hidden;
        }

        #video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        label:hover::after {
            content: attr(data-description);
            display: block;
            position: 0;
            top: 50%;
            left: 50%;
            background-color: #F4E8C2;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1;
        }

        .container {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 600px;
            padding: 10px 20px;
            background-color: #F4E8C2;
            border-radius: 30px;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin: auto;
            z-index: 2;

            font-weight: bold;
            color: black;
        }

        label {
            display: block;
            margin-bottom: 10px;
            text-align: left;
            padding: 2px;
        }

        option {
            color: black;
            padding: 10px 15px;
            margin: 10px;
            font-weight: bold;
            color: black;
            text-align: center;
        }

        input {
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        button {
            background: linear-gradient(to bottom right, #7D8D72, #637454);
            color: black;
            padding: 10px 15px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            color: white;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var video = document.getElementById("video");
            var mainContainer = document.getElementById("main-container");

            setTimeout(function() {
                video.style.display = "none";

                var mainContainer = document.getElementById("main-container");
                mainContainer.style.display = "block";
            }, 3000);
                        // Function to update description based on selected nationality
            document.getElementById('nationality').addEventListener('change', function() {
                var nationality = this.value;
                var descriptions = {
                    en: {
                        revenue: "The total income generated by a business from its primary operations, such as sales of goods or services.",
                        units_sold: "The number of individual products or services that a business has successfully sold to customers.",
                        selling_price: "The amount of money for which a product or service is offered for sale.",
                        cost_of_goods_sold: "The direct costs incurred in producing or purchasing the goods that a company sells during a specific period.",
                        operating_expenses: "The costs associated with running a business, excluding the cost of goods sold. It includes expenses like rent, utilities, salaries, and more.",
                        interest: "The cost of borrowing money, usually expressed as a percentage of the borrowed amount.",
                        taxes: "Mandatory financial charges imposed by the government on individuals or businesses to fund public services and government activities.",
                        period: "The time period for which the metrics are being calculated.",
                        nationality: "It refers to the language of a particular nation."
                    },
                    fr: {
                        revenue: "Le revenu total généré par une entreprise à partir de ses opérations principales, telles que les ventes de biens ou de services.",
                        units_sold: "Le nombre de produits individuels ou de services qu'une entreprise a réussi à vendre à des clients.",
                        selling_price: "Le montant d'argent pour lequel un produit ou un service est offert à la vente.",
                        cost_of_goods_sold: "Les coûts directs encourus dans la production ou l'achat des biens qu'une entreprise vend pendant une période spécifique.",
                        operating_expenses: "Les coûts associés à l'exploitation d'une entreprise, à l'exclusion du coût des biens vendus. Il comprend des dépenses telles que le loyer, les services publics, les salaires, et plus encore.",
                        interest: "Le coût de l'emprunt d'argent, généralement exprimé en pourcentage du montant emprunté.",
                        taxes: "Les charges financières obligatoires imposées par le gouvernement aux particuliers ou aux entreprises pour financer les services publics et les activités gouvernementales.",
                        period: "La période pour laquelle les métriques sont calculées.",
                        nationality: "Il fait référence à la langue d'une nation particulière."
                    },
                    es: {
                        revenue: "Le revenu total généré par une entreprise à partir de ses opérations principales, telles que les ventes de biens ou de services.",
                        units_sold: "Le nombre de produits individuels ou de services qu'une entreprise a réussi à vendre à des clients.",
                        selling_price: "Le montant d'argent pour lequel un produit ou un service est offert à la vente.",
                        cost_of_goods_sold: "Les coûts directs encourus dans la production ou l'achat des biens qu'une entreprise vend pendant une période spécifique.",
                        operating_expenses: "Les coûts associés à l'exploitation d'une entreprise, à l'exclusion du coût des biens vendus. Il comprend des dépenses telles que le loyer, les services publics, les salaires, et plus encore.",
                        interest: "Le coût de l'emprunt d'argent, généralement exprimé en pourcentage du montant emprunté.",
                        taxes: "Les charges financières obligatoires imposées par le gouvernement aux particuliers ou aux entreprises pour financer les services publics et les activités gouvernementales.",
                        period: "La période pour laquelle les métriques sont calculées.",
                        nationality: "Se refiere al idioma de una nación particular."
                    },
                    fil: {
                        revenue: "Ang kabuuang kita na ginagawa ng isang negosyo mula sa mga pangunahing operasyon nito, tulad ng pagbebenta ng mga kalakal o serbisyo.",
                        units_sold: "Ang bilang ng indibidwal na mga produkto o serbisyo na matagumpay na naibenta ng isang negosyo sa mga customer.",
                        selling_price: "Ang halaga ng pera para sa pag-aalok ng isang produkto o serbisyo para sa pagbebenta.",
                        cost_of_goods_sold: "Ang mga direktang gastos na nangyari sa paggawa o pagbili ng mga kalakal na ibinibenta ng isang kumpanya sa isang tiyak na panahon.",
                        operating_expenses: "Ang mga gastos na kaugnay sa pagpapatakbo ng isang negosyo, na hindi kasama ang gastos sa mga kalakal na ibinibenta. Kasama dito ang mga gastos tulad ng upa, utilities, sahod, at iba pa.",
                        interest: "Ang gastos sa pagnenegosyo ng pera, karaniwang inilalarawan bilang porsyento ng inutang na halaga.",
                        taxes: "Mandatoryong mga pananalapi na singil na ipinapataw ng gobyerno sa mga indibidwal o negosyo upang pondohan ang mga pampublikong serbisyo at aktibidad ng pamahalaan.",
                        period: "Ang panahon para sa pagkalkula ng mga metric.",
                        nationality: "Ito ay tumutukoy sa wika ng isang partikular na bansa."
                    },
                    fi: {
                        revenue: "Liiketoiminnan kokonaistulot, joita yritys saa tärkeimmistä toiminnoistaan, kuten tavaroiden tai palveluiden myynnistä.",
                        units_sold: "Yksittäisten tuotteiden tai palveluiden määrä, jotka yritys on onnistuneesti myynyt asiakkaille.",
                        selling_price: "Rahamäärä, jolla tuote tai palvelu tarjotaan myyntiin.",
                        cost_of_goods_sold: "Suorat kulut, jotka aiheutuvat tuotteiden valmistamisesta tai ostamisesta, joita yritys myy tiettynä ajanjaksona.",
                        operating_expenses: "Yrityksen toiminnan yhteydessä syntyvät kulut, pois lukien myytävien tavaroiden kustannukset. Näitä ovat vuokrat, käyttökorvaukset, palkat ja muut kulut.",
                        interest: "Rahan lainaamisen kustannus, yleensä ilmaistuna prosenttiosuutena lainatusta määrästä.",
                        taxes: "Pakolliset rahoitusmaksut, jotka hallitus määrää yksilöille tai yrityksille julkisten palveluiden ja hallituksen toiminnan rahoittamiseksi.",
                        period: "Ajanjakso, jota mittaukset koskevat.",
                        nationality: "Se viittaa tietyn maan kieleen."
                    },
                    du: {
                        revenue: "De totale inkomsten die een bedrijf genereert uit zijn belangrijkste activiteiten, zoals de verkoop van goederen of diensten.",
                        units_sold: "Het aantal individuele producten of diensten dat een bedrijf succesvol aan klanten heeft verkocht.",
                        selling_price: "Het bedrag aan geld waarvoor een product of dienst te koop wordt aangeboden.",
                        cost_of_goods_sold: "De directe kosten die worden gemaakt bij het produceren of kopen van de goederen die een bedrijf gedurende een bepaalde periode verkoopt.",
                        operating_expenses: "De kosten die gepaard gaan met het runnen van een bedrijf, exclusief de kosten van verkochte goederen. Het omvat kosten zoals huur, nutsvoorzieningen, salarissen en meer.",
                        interest: "De kosten van het lenen van geld, meestal uitgedrukt als een percentage van het geleende bedrag.",
                        taxes: "Verplichte financiële heffingen opgelegd door de overheid aan individuen of bedrijven om publieke diensten en overheidsactiviteiten te financieren.",
                        period: "De periode waarvoor de metingen worden uitgevoerd.",
                        nationality: "Het verwijst naar de taal van een bepaald land."
                    },
                    tu: {
                        revenue: "Bir işletinin temel faaliyetlerinden elde ettiği toplam gelir, mal veya hizmet satışları gibi.",
                        units_sold: "Bir işletmenin başarılı bir şekilde müşterilere sattığı bireysel ürün veya hizmet sayısı.",
                        selling_price: "Bir ürün veya hizmetin satışa sunulduğu para miktarı.",
                        cost_of_goods_sold: "Bir şirketin belirli bir dönemde sattığı malların üretim veya satın alma maliyeti.",
                        operating_expenses: "Satılan malların maliyeti hariç, bir işletmenin işletilmesiyle ilgili maliyetler. Kiralar, hizmetler, maaşlar ve daha fazlası gibi masrafları içerir.",
                        interest: "Para borçlanmanın maliyeti, genellikle ödünç alınan miktarın yüzdesi olarak ifade edilir.",
                        taxes: "Kamu hizmetlerini ve hükümet faaliyetlerini finanse etmek için bireylere veya işletmelere hükümet tarafından dayatılan zorunlu finansal ücretler.",
                        period: "Ölçümlerin yapıldığı süre.",
                        nationality: "Belirli bir ulusun dilini ifade eder."
                    },
                    it: {
                        revenue: "Il reddito totale generato da un'azienda dalle sue attività principali, come la vendita di beni o servizi.",
                        units_sold: "Il numero di prodotti o servizi individuali che un'azienda ha venduto con successo ai clienti.",
                        selling_price: "La quantità di denaro per cui un prodotto o un servizio viene offerto in vendita.",
                        cost_of_goods_sold: "I costi diretti sostenuti nella produzione o acquisto dei beni che un'azienda vende durante un periodo specifico.",
                        operating_expenses: "I costi associati alla gestione di un'azienda, esclusi i costi dei beni venduti. Include spese come affitto, utenze, stipendi e altro.",
                        interest: "Il costo del denaro preso in prestito, di solito espresso come percentuale dell'importo preso in prestito.",
                        taxes: "Tasse finanziarie obbligatorie imposte dal governo a individui o aziende per finanziare servizi pubblici e attività governative.",
                        period: "Il periodo per il quale vengono effettuate le misurazioni.",
                        nationality: "Si riferisce alla lingua di una nazione particolare."
                    },
                    ja: {
                        revenue: "主要な業務から生じる企業の総収入、例えば商品やサービスの販売。",
                        units_sold: "企業が顧客に成功裏に販売した個々の製品やサービスの数。",
                        selling_price: "商品やサービスを販売するための金額。",
                        cost_of_goods_sold: "会社が特定の期間中に販売する商品の製造または購入にかかる直接費用。",
                        operating_expenses: "売上高のコストを除く会社の運営に関連するコスト。賃料、公共料金、給与などの費用が含まれます。",
                        interest: "お金を借りるコスト、通常は借入金額のパーセンテージとして表されます。",
                        taxes: "政府によって個人や企業に課される義務的な財政料金。公共サービスや政府の活動を資金提供します。",
                        period: "計測の対象となる期間。",
                        nationality: "それは特定の国の言語を指します。"
                    },
                    po: {
                        revenue: "A receita total gerada por uma empresa a partir de suas operações principais, como vendas de bens ou serviços.",
                        units_sold: "O número de produtos individuais ou serviços que uma empresa vendeu com sucesso para clientes.",
                        selling_price: "O montante de dinheiro pelo qual um produto ou serviço é oferecido para venda.",
                        cost_of_goods_sold: "Os custos diretos incorridos na produção ou compra dos bens que uma empresa vende durante um período específico.",
                        operating_expenses: "Os custos associados à administração de uma empresa, excluindo o custo dos bens vendidos. Inclui despesas como aluguel, utilidades, salários e muito mais.",
                        interest: "O custo de empréstimo de dinheiro, geralmente expresso como uma porcentagem do valor emprestado.",
                        taxes: "Encargos financeiros obrigatórios impostos pelo governo a indivíduos ou empresas para financiar serviços públicos e atividades governamentais.",
                        period: "O período para o qual as métricas estão sendo calculadas.",
                        nationality: "Refere-se à língua de uma nação específica."
                    },
                    ch: {
                        revenue: "公司从其主要业务中产生的总收入，例如货物或服务的销售。",
                        units_sold: "企业成功向客户销售的单个产品或服务的数量。",
                        selling_price: "产品或服务提供的销售价格。",
                        cost_of_goods_sold: "公司在特定时期内销售的商品的直接成本。",
                        operating_expenses: "与经营企业相关的成本，不包括已售出商品的成本。 包括租金，水电费，工资等费用。",
                        interest: "借款的成本，通常表示为借款金额的百分比。",
                        taxes: "政府强制对个人或企业征收的财政收费，用于资助公共服务和政府活动。",
                        period: "正在计算指标的时间段。",
                        nationality: "它指的是特定国家的语言。"
                    },
                    ge: {
                        revenue: "Der Gesamtertrag, den ein Unternehmen aus seinen Hauptaktivitäten erzielt, wie beispielsweise dem Verkauf von Waren oder Dienstleistungen.",
                        units_sold: "Die Anzahl der einzelnen Produkte oder Dienstleistungen, die ein Unternehmen erfolgreich an Kunden verkauft hat.",
                        selling_price: "Der Geldbetrag, für den ein Produkt oder eine Dienstleistung zum Verkauf angeboten wird.",
                        cost_of_goods_sold: "Die direkten Kosten, die bei der Herstellung oder dem Kauf der Waren, die ein Unternehmen während eines bestimmten Zeitraums verkauft, entstehen.",
                        operating_expenses: "Die Kosten, die mit dem Betrieb eines Unternehmens verbunden sind, exklusive der Kosten der verkauften Waren. Dies umfasst Ausgaben wie Miete, Nebenkosten, Gehälter und mehr.",
                        interest: "Die Kosten für das Ausleihen von Geld, normalerweise ausgedrückt als Prozentsatz des geliehenen Betrags.",
                        taxes: "Vom Staat auferlegte obligatorische finanzielle Abgaben für Einzelpersonen oder Unternehmen zur Finanzierung öffentlicher Dienstleistungen und Regierungsaktivitäten.",
                        period: "Der Zeitraum, für den die Kennzahlen berechnet werden.",
                        nationality: "Es bezieht sich auf die Sprache eines bestimmten Landes."
                    },
                    br: {
                        revenue: "A receita total gerada por uma empresa a partir de suas operações principais, como vendas de bens ou serviços.",
                        units_sold: "O número de produtos individuais ou serviços que uma empresa vendeu com sucesso para clientes.",
                        selling_price: "O montante de dinheiro pelo qual um produto ou serviço é oferecido para venda.",
                        cost_of_goods_sold: "Os custos diretos incorridos na produção ou compra dos bens que uma empresa vende durante um período específico.",
                        operating_expenses: "Os custos associados à administração de uma empresa, excluindo o custo dos bens vendidos. Inclui despesas como aluguel, utilidades, salários e muito mais.",
                        interest: "O custo de empréstimo de dinheiro, geralmente expresso como uma porcentagem do valor emprestado.",
                        taxes: "Encargos financeiros obrigatórios impostos pelo governo a indivíduos ou empresas para financiar serviços públicos e atividades governamentais.",
                        period: "O período para o qual as métricas estão sendo calculadas.",
                        nationality: "Refere-se à língua de uma nação específica."
                    },
                    hi: {
                        revenue: "एक व्यवसाय द्वारा उसके प्रमुख कार्यों से उत्पन्न कुल आय, जैसे माल या सेवाओं की बिक्री।",
                        units_sold: "व्यापार ने सफलतापूर्वक ग्राहकों को बेचा गया व्यक्तिगत उत्पाद या सेवाओं की संख्या।",
                        selling_price: "उस धन की मात्रा जिसके लिए कोई उत्पाद या सेवा बेची जा रही है।",
                        cost_of_goods_sold: "उन निर्माण या खरीदी की लागतें जो किसी विशिष्ट अवधि के दौरान किसी कंपनी द्वारा बेची जाने वाली सामग्री का उत्पादन करने या खरीदने में लागू होती हैं।",
                        operating_expenses: "व्यापार चलाने से जुड़े खर्च, बेची गई सामग्री की लागत को छोड़कर। इसमें किराए, उपयोगिताएँ, वेतन आदि शामिल हैं।",
                        interest: "धन उधार लेने का खर्च, आमतौर पर उधार लिए गए राशि के प्रतिशत के रूप में व्यक्त किया जाता है।",
                        taxes: "सरकार द्वारा व्यक्तियों या व्यापारों पर सार्वजनिक सेवाओं और सरकारी गतिविधियों को वित्त पोषित करने के लिए लगाए गए बाध्य वित्तीय शुल्क।",
                        period: "जिस अवधि के लिए मैट्रिक्स की गणना की जा रही है।",
                        nationality: "यह किसी विशेष राष्ट्र की भाषा को संदर्भित करता है।"
                    },
                    ru: {
                        revenue: "Общий доход, полученный компанией от своей основной деятельности, такой как продажа товаров или услуг.",
                        units_sold: "Количество отдельных продуктов или услуг, успешно проданных компанией клиентам.",
                        selling_price: "Сумма денег, за которую товар или услуга предлагается к продаже.",
                        cost_of_goods_sold: "Прямые затраты, понесенные при производстве или покупке товаров, которые компания продает в течение определенного периода.",
                        operating_expenses: "Затраты, связанные с ведением бизнеса, за исключением затрат на проданные товары. Включает расходы, такие как аренда, коммунальные услуги, зарплаты и многое другое.",
                        interest: "Стоимость займа денег, обычно выраженная в процентах от суммы займа.",
                        taxes: "Обязательные финансовые платежи, взимаемые правительством с физических или юридических лиц для финансирования государственных служб и деятельности.",
                        period: "Период, за который рассчитываются показатели.",
                        nationality: "Это относится к языку определенной нации."
                    },
                    in: {
                        revenue: "Pendapatan total yang dihasilkan oleh sebuah bisnis dari operasi utamanya, seperti penjualan barang atau jasa.",
                        units_sold: "Jumlah produk individu atau layanan yang berhasil dijual oleh sebuah bisnis kepada pelanggan.",
                        selling_price: "Jumlah uang di mana sebuah produk atau layanan ditawarkan untuk dijual.",
                        cost_of_goods_sold: "Biaya langsung yang dikeluarkan dalam memproduksi atau membeli barang yang dijual oleh sebuah perusahaan selama periode tertentu.",
                        operating_expenses: "Biaya yang terkait dengan menjalankan sebuah bisnis, tidak termasuk biaya barang yang dijual. Termasuk pengeluaran seperti sewa, utilitas, gaji, dan lainnya.",
                        interest: "Biaya meminjam uang, biasanya dinyatakan sebagai persentase dari jumlah yang dipinjam.",
                        taxes: "Pungutan keuangan wajib yang dikenakan oleh pemerintah pada individu atau bisnis untuk membiayai layanan publik dan aktivitas pemerintah.",
                        period: "Periode di mana metrik dihitung.",
                        nationality: "Ini mengacu pada bahasa dari sebuah negara tertentu."
                    }
                };

                // Update descriptions for each input field
                for (var key in descriptions[nationality]) {
                    var description = descriptions[nationality][key];
                    document.querySelector('label[for="' + key + '"]').setAttribute('data-description', description);
                }
            });
        });
    </script>

</head>
<body>

    <div id="video-container">
        <video id="video" autoplay muted loop>
            <source src="static/419920264_7122015584544001_8738982106968073417_n.mp4" type="video/mp4">
        </video>
    </div>


    <div id="main-container" class="container">
        <h1>APCaS</h1>
        <form method="post">
            <label for="revenue" data-description="The total income generated by a business from its primary operations, such as sales of goods or services.">Revenue:</label>
            <input type="number" name="revenue" required><br>

            <label for="units_sold" data-description="The number of individual products or services that a business has successfully sold to customers.">Units Sold:</label>
            <input type="number" name="units_sold" required><br>

            <label for="selling_price" data-description="The amount of money for which a product or service is offered for sale.">Selling Price:</label>
            <input type="number" name="selling_price" required><br>

            <label for="cost_of_goods_sold" data-description="The direct costs incurred in producing or purchasing the goods that a company sells during a specific period.">Cost of Goods Sold:</label>
            <input type="number" name="cost_of_goods_sold" required><br>

            <label for="operating_expenses" data-description="The costs associated with running a business, excluding the cost of goods sold. It includes expenses like rent, utilities, salaries, and more.">Operating Expenses:</label>
            <input type="number" name="operating_expenses" required><br>

            <label for="interest" data-description="The cost of borrowing money, usually expressed as a percentage of the borrowed amount.">Interest:</label>
            <input type="number" name="interest" required><br>

            <label for="taxes" data-description="Mandatory financial charges imposed by the government on individuals or businesses to fund public services and government activities.">Taxes:</label>
            <input type="number" name="taxes" required><br>

            <label for="period" data-description="The time period for which the metrics are being calculated.">Period:</label> <select name="period" id="period">

            <option value="daily">Daily</option> <option value="monthly">Monthly</option> <option value="yearly">Yearly</option> </select><br>

            <label for="nationality" data-description="It refers to the language of a particular nation.">National Language:</label>
            <select name="nationality" id="nationality">
                <option value="en">English</option>
                <option value="fr">French</option>
                <option value="es">Spanish</option>
                <option value="fil">Filipino</option>
                <option value="fi">Finnish</option>
                <option value="du">Dutch</option>
                <option value="tu">Turkish</option>
                <option value="it">Italian</option>
                <option value="ja">Japanese</option>
                <option value="po">Portuguese</option>
                <option value="ch">Chinese</option>
                <option value="ge">German</option>
                <option value="br">Brazilian</option>
                <option value="hi">Hindi</option>
                <option value="ru">Russian</option>
                <option value="in">Indonesian</option>
            </select><br>

            <button type="submit">Calculate</button>
        </form>
    </div>
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/static/service-worker.js')
                .then(registration => {
                    console.log('Service Worker registered with scope:', registration.scope);
                })
                .catch(error => {
                    console.error('Service Worker registration failed:', error);
                });
        });
    }
</script>
</body>
</html>
